* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(48, 48, 78);
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block {
  position: relative;
  padding: 40px;
  background-color: rgb(32, 31, 31);
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  width: 90%;
}

.title {
  margin-left: 40px;
  font-size: 80px;
}

div.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 10px 20px 10px 20px;
  margin: 15px;
  border: none;
  border-radius: 2px;
  background-color: rgb(32, 31, 31);
  color: white;
  font-size: 18px;
  cursor: pointer;
}




footer {
  position: fixed;
  bottom: 0;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: rgb(32, 31, 31);
  color: white;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 3px solid rgb(184, 29, 93);
  color: white;
  text-align: center;
}

#data-container {
  margin-top: 60px;
}

input {
  display: block;
  padding: 6px;
  margin-top: 4px;
  border: none;
  border-radius: 2px;
}

label {
  color: white;
  font-weight: normal;
}

input[type="submit"][value="Enviar"] {
  background-color: rgb(184, 29, 93);
  color: white;
  padding: 10px 20px 10px 20px;
  cursor: pointer;

}

input[type="submit"][value="Actualizar"] {
  background-color: rgb(202, 44, 70);
  color: white;
  padding: 10px 20px 10px 20px;
  cursor: pointer;

}


.texto_g {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: greenyellow;
  text-align: center;
  background-color: green;
  text-align: center;
  box-sizing: border-box;
  z-index: 9999;
  animation: desaparecer 6s forwards;
  /* Aplicamos la animación de desaparición */


}

.texto_r {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: red;
  text-align: center;
  background-color: darkred;
  box-sizing: border-box;
  z-index: 9999;
  animation: desaparecer 6s forwards;
  /* Aplicamos la animación de desaparición */
}

@keyframes desaparecer {
  to {
    opacity: 0;
    /* Hacemos que la opacidad llegue a 0 al final de la animación */
    pointer-events: none;
    /* Desactivamos los eventos del mouse para que no se pueda interactuar con el mensaje */
  }
}

img {
  width: 13%;
  height: auto;
}

.inline-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: white;
  font-size: 25px;
  padding-bottom: 10px;
}

select {
  font-size: 18px;
  padding: 10px;
}

option {
  padding: 5px;
}